<ion-view title="Employees List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" >
          <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="employee in employees | filter:searchKey" type="item-text-wrapo" href="#/app/employee/{{employee.id}}" >
        <div class="profile">
            <div class="pic">
              <img src="pics/{{employee.pic}}" width="60" height="60" />
            </div>
            <div class="profile_title">
              <div class="profile_name">
                 <h3>{{employee.firstName}} {{employee.lastName}}</h3>
              </div>
              <div class="profile_desg">
                 <p>{{employee.title}}</p>
              </div>
            </div>
        </div> 
    </ion-list>
  </ion-content>
</ion-view>
