<ion-view title="Direct Reports">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
    <ion-list>
      <ion-item ng-repeat="employee in employees" type="item-text-wrap" href="#/app/employee/{{employee.id}}">
        <h3>{{employee.firstName}} {{employee.lastName}}</h3>
        <p>{{employee.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
