<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
       <ion-item nav-clear menu-close href="#/app/employees">
          <i class="icon ion-ios7-people ion-android-friends"></i> Employee Directory
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/sync">
          <i class="icon ion-loop"></i> Sync
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about">
          <i class="icon ion-information-circled"></i> About
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/terms">
          <i class="icon ion-clipboard"></i> Terms of Use  
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
